.Content .Team h1{
    text-align: center;
    font-size: auto;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.Content .Team .Members {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.Content .Team .Members .Member {
    width: 15%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.Content .Team .Members .Info {
    font-size: auto;
    margin-left: 5%;
    margin-right: 5%;
}


.Content .Team .Members .Member .Photo .Image {
    width: 100%;
}

.Content .Team .Members .Member .Photo img{
    flex: 2;
    padding: 0;
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
}